/Bot01.class
/Bot01$1.class
/Bot02.class
/Bot02$1.class
/Bot03.class
/Bot03$1.class
/BOT04.class
/Bot04.class
/Bot04$1.class
/TerminatorBot$1.class
/TerminatorBot.class
/Bot_A$1.class
/Bot_A.class
/Pair.class
